body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    list-style: none;
    display: flex;

    margin: 20px;             
    padding: 0;
    background-color: #333;

    border-radius: 12px;    
    overflow: hidden;        
}

.navbar li {
    flex: 1;
}

.navbar a {
    display: block;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    background-color: #555;
}

.navbar a.active {
    background-color: #04AA6D;
}