body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  max-width: 1200px;
  z-index: 1000;

  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  /* Style */
  background-color: rgba(3, 3, 3, 0.9);
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* Fix for corner issue */
  overflow: hidden;
}

.navbar li {
    flex: 1;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background 0.2s;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar a.active {
    background-color: #04AA6D;
}